<div class="hxh-manga-cell-wrap">
<a href="{$forum_url}" class="hxh-manga-panel hxh-manga-panel--sub rpg-forum-card {$lightbulb['folder']}"
   data-coord-x="{$forum_coord_x}"
   data-coord-y="{$forum_coord_y}"
   data-danger="{$forum_danger}">
    <div class="hxh-manga-panel__art">
        {$island_badge}
        <div class="hxh-manga-panel__shade"></div>
    </div>
    <span class="hxh-manga-panel__badge">{$forum['name']}</span>
    <div class="hxh-manga-panel__meta">
        <span class="card-stat-item"><i class="far fa-comment"></i> {$threads}</span>
        <span class="card-stat-item"><i class="far fa-envelope"></i> {$posts}</span>
    </div>
</a>
{$subforums}
</div>
