{$stylesheets}
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Plus+Jakarta+Sans:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{$mybb->settings['bburl']}/rpg_custom.css?v=14">
...
<script type="text/javascript" src="{$mybb->settings['bburl']}/foro_interact.js?v=1"></script>
<script type="text/javascript" src="{$mybb->settings['bburl']}/jscripts/foro_deck_ui.js?v=1"></script>
