<div class="rpg-post-author-stats">

  <div class="rpg-post-author-stat">
    <i class="fas fa-comment icon-posts"></i>
    <span>Posts: <strong>{$post['userpostcount']}</strong></span>
  </div>

  <div class="rpg-post-author-stat">
    <i class="fas fa-list icon-threads"></i>
    <span>Hilos: <strong>{$post['userthreadcount']}</strong></span>
  </div>

  <div class="rpg-post-author-stat">
    <i class="fas fa-calendar-alt icon-joined"></i>
    <span>Se unió: <strong>{$post['userregdate']}</strong></span>
  </div>

  <div class="rpg-post-author-stat">
    <i class="fas fa-star icon-rep"></i>
    <span>Reputación: <strong>{$post['reputation']}</strong></span>
  </div>

</div>
