<!-- Template fuente: game_index -->
<div class="game-index">
  <h1>Game</h1>
  <ul>
    <li><a href="{$mybb->settings['bburl']}/game/public/npc.php">NPCs</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/personaje.php">Personajes</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/estilos.php">Estilos de Combate</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/akuma_no_mi.php">Akuma no Mi</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/objetos.php">Objetos</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/historia.php">Historia</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/character.php">Character</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/inventory.php">Inventory</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/rolls.php">Rolls</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/economy.php">Economy</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/staff/index.php">Staff</a></li>
  </ul>
</div>

