<!-- Template fuente: game_index -->
<div class="game-index">
  <h1>Game</h1>
  <ul>
    <li><a href="{$mybb->settings['bburl']}/game/public/npc.php">NPCs</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/personaje.php">Personajes</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/estilos.php">Estilos de Combate</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/historia.php">Historia</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/tienda.php">Tienda</a></li>
    <li><a href="{$mybb->settings['bburl']}/game/public/zona_staff.php">Staff</a></li>
  </ul>
</div>

